##### Exercise 2: Create a markdown cell with title of the notebook Data Science Tools and Ecosystem using H1 style heading.

In [ ]:
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

##### Exercise 3: Create a markdown cell for an introduction. Write an introductory sentence about the notebook.

In [ ]:
### In this notebook, Data Science tools and Ecosystem are summarized.

### In this notebook, Data Science tools and Ecosystem are summarized.

##### Exercise 4: Create a markdown cell to list data science languages

In [ ]:
#### Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. SQL

#### Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. SQL

##### Exercise 5: Create a markdown cell to list data science libraries

In [ ]:
#### Some of the commonly used libraries used by Data Scientists include:
    1. Pandas
    2. NumPy
    3. PyTorch

#### Some of the commonly used libraries used by Data Scientists include:
    1. Pandas
    2. NumPy
    3. PyTorch

##### Exercise 6: Create a markdown cell with a table of Data Science tools

In [ ]:
|Data Science Tools|
|------------------|
| Jupyter notebooks|
| RStudio |
| IBM Watson Studio|

|Data Science Tools|
|------------------|
| Jupyter notebooks|
| RStudio |
| IBM Watson Studio|

##### Exercise 7: Create a markdown cell introducing arithmetic expression examples

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

##### Exercise 8: Create a code cell to multiply and add numbers

In [8]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

##### Exercise 9: Create a code cell to convert minutes to hours

In [10]:
# This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

##### Exercise 10: Insert a markdown cell to list Objectives

### In this notebook, Data Science tools and Ecosystem are summarized.

In [ ]:
**Objectives:**
- To define a Jupyter notebook
- To describe how to run, insert, and delete a cell in a notebook
- To present a notebook using a combination of Markdown and code cells

**Objectives:**
- To define a Jupyter notebook
- To describe how to run, insert, and delete a cell in a notebook
- To present a notebook using a combination of Markdown and code cells

##### Exercise 11: Create a markdown cell to indicate the Author's name

In [ ]:
## Author
Marissa Dizon

## Author
Marissa Dizon